body{

margin:0;

font-family:Arial;

background:#f5f9ff;

text-align:center;

}

header{

background:#0077b6;

color:white;

padding:30px;

}

nav{

background:#023e8a;

padding:15px;

}

nav a{

color:white;

text-decoration:none;

margin:20px;

font-size:18px;

}

nav a:hover{

color:yellow;

}

.hero{

padding:30px;

}

.hero img{

border-radius:50%;

border:5px solid #0077b6;

}

section{

padding:25px;

}

h2{

color:#0077b6;

}

ul{

list-style:none;

padding:0;

}

li{

padding:8px;

}

button{

background:#28a745;

color:white;

padding:12px 25px;

border:none;

cursor:pointer;

font-size:16px;

}

button:hover{

background:#218838;

}

input,textarea{

width:300px;

padding:10px;

margin:10px;

}

footer{

background:#023e8a;

color:white;

padding:20px;

margin-top:30px;

}